<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961585638656-d5ee0lhdemd6l48o6h5i0kuentl6sfsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961585638656-d5ee0lhdemd6l48o6h5i0kuentl6sfsa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>961585638656-73vke41jjf3q70vo51g4teqrvnnag79f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNUe2p1BsoYZg4l1BfAE22_wipieJ2uCM</string>
	<key>GCM_SENDER_ID</key>
	<string>961585638656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homeautomationapp.homeapp</string>
	<key>PROJECT_ID</key>
	<string>homeapp-38efa</string>
	<key>STORAGE_BUCKET</key>
	<string>homeapp-38efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961585638656:ios:491227e6b63e53c571d7e5</string>
	<key>DATABASE_URL</key>
	<string>https://homeapp-38efa-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>